li {
    list-style: none;
  }



 a{
    text-decoration: none;  
}

body{

    background-color:blueviolet;
}

.mouse-click {
    cursor: pointer;
  }
  

.linea{
    padding: 1rem;
    border-bottom: 3px solid  orange;
}

.orange{

    color: orange;
    font-size: 30px;
}

.testo-giustificato{
    text-align: justify;
}

.bg-orange{
    background-color: orange;
}


.button-style{
    border-radius: 20px;
    background-color: orange;
    color: white;
    border: 2px solid white;
}

.m-top{

    margin-top: 200px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/